<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, IDT Log!</title>

        <!-- Velog style-->
        <link rel="stylesheet" href="https://assets.velcdn.com/_next/static/css/fa124b741b65f9f0.css" data-precedence="next">
        <link rel="stylesheet" href="https://assets.velcdn.com/_next/static/css/392e313bab8c90b0.css" data-precedence="next">
        <link rel="stylesheet" href="https://assets.velcdn.com/_next/static/css/6a062059d4e69f73.css" data-precedence="next">
        <script src="https://assets.velcdn.com/_next/static/chunks/3054f790-c4797ec6edde2d55.js" async=""></script>
        <script src="https://assets.velcdn.com/_next/static/chunks/861-84272c2f9fe0aa32.js" async=""></script>
        <script src="https://assets.velcdn.com/_next/static/chunks/main-app-12295be799237526.js" async=""></script>
        <script src="https://assets.velcdn.com/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js" nomodule=""></script>
    
        <!-- 마크다운 에디터 -->
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

</head>
<body class="body ConditionalBackground_isGray__R9Tjd">
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>